<!-- Page Heading -->
<div class="m-5">
    {{#if daily_records}}
    <h1 class="h3 mb-2 text-gray-800">Horarios</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Planilla de temas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Regitro creado</th>
                            <th>Asignatura</th>
                            <th>Usuario</th>
                            <th>Identificación</th>
                            <th>Tema</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Regitro creado</th>
                            <th>Asignatura</th>
                            <th>Usuario</th>
                            <th>Identificación</th>
                            <th>Tema</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each daily_records}}
                        <tr>
                            <td>{{created_at}}</td>
                            <td>{{name}}</td>
                            <td>{{fullname}}</td>
                            <td>{{identification}}</td>
                            <td>{{topic}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto card shadow">
        <div class="card-body text-center">
            <p>No hay Reportes aun.</p>
        </div>
    </div>
    {{/if}}
</div>