<div class="col-md-6 mx-auto" >
    <div class="card shadow m-5">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Editar asignatura</h6>
        </div>
        <div class="card-body">
            <form action="/subjects/edit/{{subject.id}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="name" value="{{subject.name}}" placeholder="Nombre" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" cols="30" rows="2" class="form-control">{{subject.description}}</textarea>
                </div>

                <div class="form-group d-flex justify-content-end">
                    <button class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
