<!-- Page Heading -->
<div class="m-5">
    {{#if subjects}}
    <h1 class="h3 mb-2 text-gray-800">Asignaturas</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Asignaturas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each subjects}}
                        <tr>
                            <td>{{name}}</td>
                            <td>{{description}}</td>
                            <td style="width:13%">
                                <a href="/subjects/edit/{{id}}" class="btn btn-warning btn-sm">Editar</a> |
                                <a href="/subjects/delete/{{id}}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto card shadow">
        <div class="card-body text-center">
            <p>No hay Asignaturas aun.</p>
            <a href="/subjects/add">Crea una!</a>
        </div>
    </div>
    {{/if}}
</div>