<body class="bg-gradient-primary">

    <div class="container ">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9  ">

                <div class="card o-hidden border-0 shadow-lg my-5 ">
                    <div class="card-body p-0 ">
                        <!-- Nested Row within Card Body -->
                        <div class="row ">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4 mt-5">Bienvenido!</h1>
                                    </div>
                                    <form class="user mt-5" action="/signin" method="POST">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user"
                                            name="identification" aria-describedby="identification"
                                                placeholder="Cédula">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                name="password" placeholder="Constraseña">
                                        </div>
  {{!--                                       <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Remember
                                                    Me</label>
                                            </div>
                                        </div> --}}
                                        <button class="btn btn-primary btn-user btn-block mt-5">
                                            Ingresar
                                        </button>
                                        <div class="text-center mt-4 mb-5">
                                            <a class="small" href="/signup">Crear cuenta!</a>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>


</body>