<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center mt-5">
                                <h1 class="h4 text-gray-900 mb-4">Crear una cuenta!</h1>
                            </div>
                            <form class="user mt-5" action="/signup" method="POST">
                                <div class="form-group ">
                                    <input type="text" class="form-control form-control-user" name="fullname"
                                        placeholder="Nombre completo">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" name="identification"
                                        placeholder="Cédula">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" name="password"
                                            placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user" name="password2"
                                            placeholder="Repeat Password">
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-user btn-block mt-5">
                                    Registrarse
                                </button>
                            </form>
                            <hr>
                            <div class="text-center mt-4">
                                <a class="small" href="/signin">Ya tienes una cuenta? Ingresa!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>