<div class="col-md-6 mx-auto">
    <div class="card shadow m-5">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Editar horario</h6>
        </div>
        <div class="card-body">
            <form action="/schedules/edit/{{schedules.id}}" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" value="{{schedules.day_week}}" name="day_week"
                        placeholder="Día" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control timepicker" value="{{schedules.time_start}}"
                        name="time_start_input" placeholder="Hora de inicio">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control timepicker" value="{{schedulestime_end}}"
                        name="time_end_input" placeholder="Hora de fin">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{schedules.classroom}}" name="classroom"
                        placeholder="Salon">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{schedules.user_id}}" name="user_id"
                        placeholder="Usuario">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" value="{{schedules.subject_id}}" name="subject_id"
                        placeholder="Asignatura">
                </div>

                <div class="form-group d-flex justify-content-end">
                    <button class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>