<!-- Page Heading -->
<div class="m-5">
    {{#if schedules}}
    <h1 class="h3 mb-2 text-gray-800">Horarios</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Horarios</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Día</th>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                            <th>Salon</th>
                            <th>Docente</th>
                            <th>Asignatura</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Día</th>
                            <th>Hora inicio</th>
                            <th>Hora fin</th>
                            <th>Salon</th>
                            <th>Docente</th>
                            <th>Asignatura</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each schedules}}
                        <tr>
                            <td>{{day_week}}</td>
                            <td>{{time_start}}</td>
                            <td>{{time_end}}</td>
                            <td>{{classroom}}</td>
                            <td>{{fullname}}</td>
                            <td>{{name}}</td>
                            <td style="width:13%">
                                <a href="/schedules/edit/{{id}}" class="btn btn-warning btn-sm">Editar</a> |
                                <a href="/schedules/delete/{{id}}" class="btn btn-danger btn-sm">Eliminar</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="col-md-4 mx-auto card shadow">
        <div class="card-body text-center">
            <p>No hay Horarios aun.</p>
            <a href="/schedules/add">Crea una!</a>
        </div>
    </div>
    {{/if}}
</div>