<div class="col-md-6 mx-auto">
    <div class="card shadow m-5">
        <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
            <h6 class="m-0 font-weight-bold text-primary">Agregar usuario</h6>
        </div>
        <div class="card-body">
            <form action="/users/add" method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="fullname" placeholder="Nombre completo" autofocus>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="identification" placeholder="Indentificación">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="Contraseña">
                </div>
                <div class="form-group">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rol" id="1" value="1">
                        <label class="form-check-label" for="inlineRadio1">Administrador</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="rol" id="2" value="2">
                        <label class="form-check-label" for="inlineRadio2">Docente</label>
                    </div>
                </div>
                <div class="form-group d-flex justify-content-end">
                    <button class="btn btn-success">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>