<!-- Page Heading -->
<div class="m-5">
    {{#if users}}
    <h1 class="h3 mb-2 text-gray-800">Usuarios</h1>
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Usuarios</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre Completo</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Identificación</th>
                            <th>Nombre Completo</th>
                            <th>Rol</th>
                            <th></th>
                        </tr>
                    </tfoot>
                    <tbody>
                        {{#each users}}
                        <tr>
                            <td>{{identification}}</td>
                            <td>{{fullname}}</td>
                            <td>{{rol_name}}
                            </td>
                            <td style="width: 13.66%">
                                <a class="btn btn-warning btn-sm" href="users/edit/{{id}}">Editar</a>
                                <a class="btn btn-danger btn-sm" href="users/delete/{{id}}">Eliminar</a>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {{else}}
    <div class="card shadow col-md-4 mx-auto">
        <div class="card card-body text-center">
            <p>No hay Usuarios aun.</p>
            <a href="/links/add">Crea uno!</a>
        </div>
    </div>
    {{/if}}
</div>



{{!--         --}}